@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Global App */

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

p {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}

a.active {
  font-weight: 700;
  color: #ff304e;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
}

/* Nav */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 30.5rem;
  max-width: 30.5rem;
  padding: 1.6rem 3.2rem;
  background-color: #000;
  height: 99.9vh;
  position: sticky;
  top: 0;
}

nav h1 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 9000;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  transition: color 0.4s ease;
}

nav h1:hover {
  color: #ff304e;
}

nav p {
  color: #999;
  font-style: italic;
  font-size: 1.4rem;
}

nav a.author {
  font-style: italic;
  color: #999;
  font-size: 1.2rem;
}

nav ul {
  margin-bottom: 4.8rem;
}

nav ul li {
  margin-bottom: 1.6rem;
}

nav ul li a {
  font-size: 1.4rem;
  position: relative;
}

nav ul li a.active::before {
  background-color: #ff304e;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  bottom: -0.3rem;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

nav ul li:last-of-type {
  margin-bottom: 0;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

main section {
  display: flex;
  height: 100%;
  max-width: 90rem;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 3.2rem 0;
}

main section h2 {
  color: #000;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

main section p {
  color: #383838;
  margin-bottom: 2rem;
}

main section:not(.home) {
  display: none;
}

main section img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  border: 1rem solid #ff304e;
  max-width: 90%;
  height: auto;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

main section img:-moz-loading {
  visibility: hidden;
}

/* Main : Home */
main section.home {
  flex-direction: row;
  align-items: center;
}

main section.home .avatar {
  width: 100%;
  margin-right: 6.4rem;
}

main section.home .avatar img {
  width: 48rem;
}

main section.home .content strong {
  color: #ff304e;
}

main section.home .content ul {
  display: flex;
}

main section.home .content li {
  margin-right: 2.4rem;
}

main section.home .content li:last-of-type {
  margin-right: 0;
}

main section.home .content ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: fill 0.4s ease;
}

main section.home .content ul li svg:hover {
  fill: #ff304e;
}

maini section.home .content p {
  margin-bottom: 3.2rem;
}

/* Main: About */
.large-image img {
  width: 68.3rem;
}

main section.about .large-image {
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: center;
}

main section.about h2 {
  font-size: 4rem;
}

main section.about p:last-of-type {
  margin-bottom: 0;
}

/* Main: Portfolio */
main section.portfolio {
  flex-direction: column;
  justify-content: center;
}

main section.portfolio .photos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
}

.image-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
}

/* Main: Contact */
main section.contact .map {
  margin-bottom: 1.6rem;
}

main section.contact form {
  display: flex;
  flex-direction: column;
}

main section.contact input {
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: italic;
}

main section.contact p:first-of-type {
  margin-bottom: 3.2rem;
}

main section.contact input,
main section.contact textarea {
  color: #383838;
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: italic;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Poppins", sans-serif;
}

main section.contact textarea {
  resize: none;
}

main section.contact button {
  height: 6.4rem;
  width: 100%;
  background-color: #f9da85;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  border: 0.4rem solid #ecca6b;
  transition: background-color 500ms linear;
}

main section.contact button:hover {
  background-color: #ffca3a;
}

/* Animations */
.tilt-in-bottom-1 {
  -webkit-animation: tilt-in-bottom-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-bottom-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-20 20:47:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Responsiveness */
@media (max-width: 1400px) {
  .wrapper {
    flex-direction: column;
  }

  nav {
    max-width: none;
    height: auto;
    padding: 3.2rem;
  }

  nav h1 {
    margin-bottom: 1.6rem;
  }

  nav ul {
    display: flex;
    margin-bottom: 0;
  }

  nav ul li {
    margin-right: 1.6rem;
    margin-bottom: 0;
  }

  nav ul li:last-of-type {
    margin-right: 0;
  }

  nav p,
  nav > a {
    display: none;
  }

  main section {
    padding: 3.2rem;
  }

  main section.home {
    flex-direction: column;
  }

  main section.home .avatar {
    margin-right: 0;
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: center;
  }

  main section.home .content ul {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  main section.portfolio .photos {
    display: inline-grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
}
