@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Global App */

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

p {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}

a.active {
  font-weight: 700;
  color: #ff304e;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
}

/* Nav */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 30.5rem;
  max-width: 30.5rem;
  padding: 1.6rem 3.2rem;
  background-color: #000;
  height: 100vh;
}

nav h1 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 9000;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  transition: color 0.4s ease;
}

nav h1:hover {
  color: #ff304e;
}

nav p {
  color: #999;
  font-style: italic;
  font-size: 1.4rem;
}

nav a.author {
  font-style: italic;
  color: #999;
  font-size: 1.2rem;
}

nav ul {
  margin-bottom: 4.8rem;
}

nav ul li {
  margin-bottom: 1.6rem;
}

nav ul li a {
  font-size: 1.4rem;
  position: relative;
}

nav ul li a.active::before {
  background-color: #ff304e;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  bottom: -0.3rem;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

nav ul li:last-of-type {
  margin-bottom: 0;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

main section {
  display: flex;
  height: 100%;
  max-width: 90rem;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 3.2rem 0;
}

main section h2 {
  color: #000;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

main section p {
  color: #383838;
  margin-bottom: 2rem;
}

main section:not(.home) {
  display: none;
}

main section img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  border: 1rem solid #ff304e;
  max-width: 90%;
  height: auto;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

/* Main : Home */
main section.home {
  flex-direction: row;
  align-items: center;
}

main section.home .avatar {
  width: 100%;
  margin-right: 6.4rem;
}

/* main section.home .avatar img {
  width: 48rem;
} */

main section.home .content strong {
  color: #ff304e;
}

main section.home .content ul {
  display: flex;
}

main section.home .content li {
  margin-right: 2.4rem;
}

main section.home .content li:last-of-type {
  margin-right: 0;
}

main section.home .content ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: fill 0.4s ease;
}

main section.home .content ul li svg:hover {
  fill: #ff304e;
}

maini section.home .content p {
  margin-bottom: 3.2rem;
}

/* Main: About */
.large-image img {
  width: 68.3rem;
}

main section.about .large-image {
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: center;
}

main section.about h2 {
  font-size: 4rem;
}

main section.about p:last-of-type {
  margin-bottom: 0;
}

/* Main: Contact */
main section.contact .map {
  margin-bottom: 1.6rem;
}

main section.contact form {
  display: flex;
  flex-direction: column;
}

main section.contact input {
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: italic;
}

main section.contact p:first-of-type {
  margin-bottom: 3.2rem;
}

main section.contact input,
main section.contact textarea {
  color: #383838;
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: italic;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Poppins", sans-serif;
}

main section.contact textarea {
  resize: none;
}

main section.contact button {
  height: 6.4rem;
  width: 100%;
  background-color: #f9da85;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  border: 0.4rem solid #ecca6b;
  transition: background-color 500ms linear;
}

main section.contact button:hover {
  background-color: #ffca3a;
}

/* Animations */
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
